body {
    background-image: url('./3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    
}

.card {
    background: linear-gradient(135deg, #1d1f1e, #5b548a);
    color: aliceblue;
    text-align: center;
    background: #000000d0;
    
}

.search {
    display: block;
    align-items: center;
    justify-content: center;
}

.btn1 {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

button:hover {
    background: #7c7c7c6b;
}

.card1{
    margin-top: 50px;
}
.card1:hover{
    box-shadow:  0px 0px 10px black;
    transform: scale(1.08);
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:white;
    background-color: #ffffff61;
    background-clip: padding-box;
    
}
.form-control::placeholder{
    color: aliceblue;
}
.card1 i{
    color: #fffffffe;
    font-size: 60px;
}
.row .card{
    box-shadow:  0px 0px 10px black;

    text-align: center;
}
.card2{
    border: 5px solid #442900;
    color: white;
}
.bt1{
    margin-left: 40%;
}

